/* fontes */
@font-face {
  font-family: 'Clash Display';
  src: url(./src/fonts/ClashDisplay-Regular.woff) format(woff);
  font-weight: 400;
}

@font-face {
  font-family: 'Clash Display';
  src: url(./src/fonts/ClashDisplay-Medium.woff) format(woff);
  font-weight: 500;
}

@font-face {
  font-family: 'Clash Display';
  src: url(./src/fonts/ClashDisplay-Bold.woff) format(woff);
  font-weight: 700;
}

@font-face {
  font-family: 'General Sans';
  src: url(./src/fonts/GeneralSans-Regular.woff) format(woff);
  font-weight: 400;
}

@font-face {
  font-family: 'General Sans';
  src: url(./src/fonts/GeneralSans-Medium.woff) format(woff);
  font-weight: 500;
}

@font-face {
  font-family: 'General Sans';
  src: url(./src/fonts/GeneralSans-Semibold.woff) format(woff);
  font-weight: 600;
}

body {
  font-family: 'General Sans', sans-serif;
}



/* mobile */
.tt,
.subtt {
  font-family: 'Clash Display', sans-serif;
}

/* esconde barra de rolagem */
.novidades-lista {
  scrollbar-width: none;
}

@media (max-width: 767px) {
  .topo-menu-mobile {
    transition:opacity 200ms, visibility 200ms;
  }

  /* abre menu mobile */
  .topo-menu-mobile-input:checked + .topo-menu-mobile {
    visibility: visible;
    opacity: 1;
  }
}